# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
coverage/

# Temporary files
*.tmp
*.swp
*.bak

# Debugging and error files
error.log
debug.log
